.startscreen {

}

.banner {
    background-color: rgb(4, 4, 24);
    padding: 7rem;
    h1 {
        color: white;
        text-align: center;

    }

    h3 {
        color: white;
        text-align: center;
    }

}