@import './style.scss';


.modal-overlay {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  @include center;
}
  
.modal-box {
  display: flex;
  background: white;
  width: 70%;
  height: 70%;
  padding: 1rem;
  border-radius: 1rem;
}

#closebutton{
  margin-left: auto;
}