
@import './style.scss';

#errorView {
    position: absolute;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    @include center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;

    button {
        margin-top: 1rem;
        background-color: white;
        font-size: 1.4rem;
        padding: 0.2rem 3rem;
        
        border: 0.2rem solid;
        border-radius: 1rem;
        align-self: center;
    }
}

