@import './style.scss';

#root {
    width: 100vw;
    height: 100vh;

    .bannerLogin {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

#frontpage {
    display: flex;
    width: 100vw;
    height: 100vh;

    .banner {
        @include center;
        flex-direction: column;
        height: 100%;
    }

    #loginMain {
        @include center;
        flex-direction: column;
        margin: 0 auto;

        form {
            display: flex;
            flex-direction: column;
        }

        .frontpageToggle {
            background-color: white;
            font-size: 1.4rem;
            border: none;
            text-decoration: underline;
            align-self: center;
            padding: 0 1rem 1rem 0;
            font-size: 2rem;
        }

        #lighter {
            color: gray;
        }
    }
}


.errorMsgLogIn {
    color: rgb(206, 45, 45);
    background-color: rgb(219, 172, 172);
    padding: 1rem;
    border: 1px solid rgb(206, 45, 45);
}

.emptyField {
    border-color: rgb(206, 45, 45);
}

