@import './style.scss';


#profileView {
    h1 {
        text-align: start;
    }
    main {
        display: flex;
        flex-direction: column;
        padding: 5rem;

        .Userinfo {
            display: flex;
            flex-direction: row;

            h5 {
                font-weight: lighter;
            }

            :first-child {
                color: gray;
                margin-right: auto;

            }
            
        }

        #settingsTitle {
            margin-top: 2rem
        }

        #settings {
            @include center;
            justify-content: start;
            flex-direction: row;
            margin-bottom: 2rem;
            

            // display: flex;
            // flex-direction: column;
            div {
                display: flex;
                flex-direction: column;
                margin-right: 2rem;

            }
       
        }

        .devider {
            background-color: rgb(182, 182, 182);
            grid-area: dev;
        }

    }
}