#profileView {
    h1 {
        text-align: center;
        padding: 10rem 0 2rem 0;
    }
    main {
        display: flex;

        section {
            padding: 1rem;
            background-color: aliceblue;
            
        }
    }
}