
$scoreBoardPadding: 2rem;


#ScoreboardView {

    main {
        margin: 5rem;
        border: 1px solid black;
        border-radius: 1rem;
        padding: 0;
        display: grid;

        h1 {
            border-radius: 2rem;
            padding: $scoreBoardPadding;
            margin: 0;
        }

        .devider {
            width: 100%;
            height: 1px;
            background-color: black;
        }

        section {
            display: flex;
            justify-content: space-between;
            padding: calc($scoreBoardPadding/2) $scoreBoardPadding;

            &:nth-of-type(even) {
                background-color: lightgray;
              }

            :first-child{
                padding-right: 1rem;
            }

            :last-child {
                margin: 0 0 0 auto;
            }
        }
    }
}






